body {
  background: #f5f6fa;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.app-title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.heading {
  margin-bottom: 15px;
  color: #4f46e5;
}
.heading2 {
  margin-bottom: 15px;
  color: #e61089;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 16px;
  border: none;
  background: #d50c13;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.btn{
   padding: 6px 8px;
  border: none;
  background: #01e341;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background: #4338ca;
}

.quiz-section {
  margin-top: 30px;
}
.para {
  font-size: 16px;
  color: #0c27c3;
  margin-bottom: 8px;
}
.para2 {
  font-size: 16px;
  color: #ffff;
  margin-bottom: 8px;
  background-color: #14de1c;
  border-radius: 4px;
  padding: 2px 6px;
  width: 200px;
  margin-top: 10px;
}
.para3 {
  font-size: 16px;
  color: #bc0f0f;
  margin-bottom: 8px;
  font-family: "roboto", sans-serif; 
  margin-top: 12px;
}
.options{
  margin-left: 20px;
}
.option{
  .option {
  margin: 6px 0;
}
}

.summary {
  color: #555;
  margin-bottom: 20px;
}

.question-card {
  background: white;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 15px;
  border-left: 5px solid #4f46e5;
}

.question-card ul {
  padding-left: 20px;
}

.question-card li {
  margin: 6px 0;
}

.answer {
  margin-top: 10px;
  color: green;
}

.difficulty {
  font-size: 14px;
  color: #666;
}

.past-btn {
  margin: 20px 0;
}

.past-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.question-card {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  background: #f9f9f9;
}
